@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');

div {
    font-family: 'DM Sans';
}

textarea {
    font-family: 'monospace';
}

body {
    margin: 0;
    background-color: #ebedf5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
    margin-block: 0;
    line-height: 1;
}

pre {
    margin: 0 0 2rem 0;
}

p {
    margin: 0.5rem;
}

li {
    margin: 0;
    padding: 0;
    line-height: 1.5;
}

.buttonHover {
    background-color: transparent;
    transition: background-color 0.15s ease;
}

.buttonHover:hover {
    background-color: #F8F9FA;
}

.buttonHoverLight {
    background-color: transparent;
    transition: background-color 0.15s ease;
}

.buttonHoverLight:hover {
    background-color: #EDEDED;
}

.slideOut {
    transition: width 0.5s ease;
}

.popup-container {
    position: relative;
    display: inline-block;
}

.popup-button {
    padding: 10px 20px;
    cursor: pointer;
}

.popup-content {
    position: absolute;
    bottom: 100%;
    width: fit-content;
    margin-bottom: 10px;

    background-color: white;
    padding: 0.5rem;
    border-radius: 4px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}
